<!-- <div class="container">
  <div class="row"> -->
    <!-- <app-search>search</app-search> -->
    <!-- <div class="col-md-6" style="margin-top:20px;">
      <div class="panel panel-info">
        <div class="panel-body">
          <form novalidate (ngSubmit)="onSubmit()"  [formGroup]="myform" >
            <fieldset formGroupName="name">
              <div class="form-group">
                <label>First Name</label>
                <input type="text"
                formControlName="firstName"
                required
                       class="form-control">
              </div> -->
              <!-- <div class="form-group" formArrayName="addresses">
                <div *ngFor="let address of addresses"></div>
              </div>   -->
          
              <!-- <div class="form-group">
                <label>Last Name</label>
                <input type="text"
                formControlName="lastName"
                required
                       class="form-control">
              </div>
            </fieldset>
          
            <div class="form-group" [ngClass]="{
              'has-error': myform.controls.email.invalid && myform.controls.email.dirty, 
              'has-success': myform.controls.email.valid && myform.controls.email.dirty 
            }">
              <label>Email</label>
              <input type="email"
              
              formControlName="email"
              required
                     class="form-control">
            </div>

          
            <div class="form-group">
              <label>Password</label>
              <input type="password"
              formControlName="password"
              required
                     class="form-control">
            </div>
          
            <div class="form-group">
              <label>Language</label>
              <select class="form-control"
                      formControlName="language" >        
               <option value="">Please select a language</option>
                <option *ngFor="let lang of langs"
                        [value]="lang">{{lang}}
                </option>
              </select>
            </div>
            <button type="submit" class="btn btn-success">submit</button>
            <button type="reset" class="btn btn-danger">reset</button>
          </form>
        </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <pre>{{myform.value | json}}</pre>
    </div>
  </div>
</div> -->
<app-form-builder></app-form-builder>
  